@import '../../global.scss';

.signUp {
  background-color: var(--register-background-color);
  margin: calc($header-margin * -1) auto calc($footer-margin * -1);
  padding: 15px 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  &__groupInput {
    display: flex;
    gap: 20px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--register-title-color);
  }

  &__boxButton {
    margin: 25px auto 10px;
    text-align: center;
  }

  &__input {
    position: relative;
  }

  &__textError {
    position: absolute;
    left: 3px;
    font-size: 12px;
    color: red;
  }
}
