.cardSkeleton {
  &__card {
    background-color: var(--card-film-background-color);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 380px;

    &Text {
      padding: 7px;

      * {
        margin-bottom: 5px;
      }

      &Columns {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
